---
import '@components/show/show2.css'
import ImageHolder from './ImageHolder.astro'
import imagen from '../../assets/images/h2.png';
---
<section class="show">
<div class="show-hero">
    <div>
        <h1>Herramientas Neumaticas</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quae cupiditate recusandae iure amet magni odio, fugit atque consectetur assumenda ipsum dolor harum numquam sunt facilis nesciunt! Quam, doloribus repellat?</p>
    </div>
</div>

    <ol class="show-content">
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Accesorios' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Atornilladores' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Clavadoras' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Compresor' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Engrapadoras' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Accesorios' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Atornilladores' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Clavadoras' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Compresor' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Engrapadoras' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Accesorios' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Atornilladores' />
        <ImageHolder imageSrc={imagen} imageAlt='Herramientas de balancines' imageTitle='Clavadoras' />
        
    </ol>
</section>
